:root {
  /**VARIABLES */
  --square-width: 3em;
  --square-height: 3em;
  --row-elements-number: 3;
}


.tris-grid {
  max-width: calc((var(--square-width) * 3) + (12px * var(--row-elements-number)));
  min-height: auto;
  background-color: blue;
  margin: auto;
  border: solid 3px;
}

.square {
  height: var(--square-height);
  border: solid 2px
}

button {
  margin: 10px;
  width: var(--square-width)
}