.tris-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: calc((var(--square-width) * 3) + (12px * var(--row-elements-number)));
  background-color: blue;
  margin: auto;
  border: solid 3px;
}

button {
  margin: 10px;
  width: var(--square-width)
} 